In [ ]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt

%matplotlib inline

In [ ]:
from sqlalchemy import create_engine
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'db'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres'
POSTGRES_PASSWORD = ''
POSTGRES_DBNAME = 'myapp_development'

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME,
                        password=POSTGRES_PASSWORD,
                        ipaddress=POSTGRES_ADDRESS,
                        port=POSTGRES_PORT,
                        dbname=POSTGRES_DBNAME)
               )
    
# Create the connection
cnx = create_engine(postgres_str)

## Transactions by Month and Fund

In [ ]:
pd.read_sql_query('''
SELECT 
    date_trunc('month', t.created_at) AS txn_month,
    f.name, 
    SUM(t.amount) as total
FROM 
    transactions t
    LEFT JOIN funds f on f.id = t.fund_id
WHERE
    t.pending = false
    AND t.fund_id != 0
GROUP BY
    txn_month,
    f.name
ORDER BY
    txn_month,
    total desc;
''', cnx)

## Flow over time

In [ ]:
pd.read_sql_query('''
SELECT 
    date_trunc('month', t.created_at) AS txn_month,
    SUM(case when t.amount < 0 then amount end) as expenses,
    SUM(case when t.amount > 0 then amount end) as income,
    SUM(t.amount) as balance
FROM 
    transactions t
WHERE
    t.pending = false
GROUP BY
    txn_month
ORDER BY
    txn_month;
''', cnx)

## Average per category

In [ ]:
pd.read_sql_query('''
select      
    distinct f.name
    , avg(sum(amount)) over (partition by f.name)  avg_rev
    , min(sum(amount)) over (partition by f.name)  min_rev
    , max(sum(amount)) over (partition by f.name)  max_rev



from        
    transactions t
    LEFT JOIN funds f on f.id = t.fund_id
where
    t.fund_id <> 0
    AND t.pending = false

group by
    date_trunc('month', t.created_at), 
    f.name
order by
    avg_rev desc
''', cnx)